<section class="w-full flex flex-col items-center ">
  <div class="w-full">
    <app-filters (filterChanged)="onFilterChanged($event)"></app-filters>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3">
    @if (filteredExtensions.length === 0) {
    <div class="text-gray-500 py-8 col-span-full">
      Aucune extension trouvée.
    </div>
    } @else {
    @for (extension of filteredExtensions; track extension.id) {
    <app-card-item [extension]="extension"></app-card-item>
    }
    }
  </div>
</section>